<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#" class="is-loading is-loading-init ">

<head>
    <script src="../js/spu7cri.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Manifest added by SuperPWA - Progressive Web Apps Plugin For WordPress -->
    <!-- / SuperPWA.com -->
    <link type="text/css" href="../css/autoptimize_c31274133277b73a2805b57f7a59d948.css" rel="stylesheet" />
    <title>案例</title>
    <link rel="stylesheet" href="https://wangtengfei1002.github.io/css/important.css">
    <meta name="google-site-verification" content="google5e41fb08e83d92db" />

    <script>
        // loading
        (function () {
            var html = document.querySelector('html');
            var windowLoadHandler = function () { html.classList.remove('is-loading'); }
            window.addEventListener('load', windowLoadHandler, false);
            setTimeout(windowLoadHandler, 500);
        }());
    </script>
</head>

<body class="archive post-type-archive post-type-archive-works">
    <div class="l-wrapper">

        <header class="l-header">
            <p class="l-header__sitelogo">
                <a href="./index.html">
                    <img src="../img/logo.png" alt="株式会社LINICA（リニカ）" width="60" height="60">
                </a>
            </p>
            <div class="l-header__gnav">
                <button class="l-header__gnav__toggler" aria-label="メニュー">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="l-header__gnav__overlay">
                    <div class="l-header__gnav__overlay__inner">
                        <ul id="menu-%e3%82%b0%e3%83%ad%e3%83%bc%e3%83%90%e3%83%ab%e3%83%8a%e3%83%93" class="menu">
                            <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="./about-us.html">
                                    <span class="__description">关于我们</span>
                                    <!-- <span class="__title">关于我们</span> -->
                                    <i></i>
                                </a>
                            </li>
                            <li id="menu-item-31" class="menu-disabled menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                <a href="javascript:;">
                                    <span class="__description">服务领域</span>
                                    <!-- <span class="__title">制作事例</span> -->
                                    <i></i>
                                </a>
                                <ul class="sub-menu">
                                    <li id="menu-item-3362" class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="./web-server.html">
                                            <span class="__description">web技术服务</span>
                                            <!-- <span class="__title">コーポレートサイト制作</span> -->
                                            <i></i>
                                        </a>
                                    </li>
                                    <li id="menu-item-3197" class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="./creative.html">
                                            <span class="__description">创意设计类</span>
                                            <!-- <span class="__title">UXデザイン</span> -->
                                            <i></i>
                                        </a>
                                    </li>
                                    <li id="menu-item-3196" class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="./marketing.html">
                                            <span class="__description">营销内容</span>
                                            <!-- <span class="__title">ブランディング</span> -->
                                            <i></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-3084" class="menu-item menu-item-type-post_type_archive menu-item-object-works">
                                <a href="./case.html">
                                    <span class="__description">案例</span>
                                    <!-- <span class="__title">案例</span> -->
                                    <i></i>
                                </a>
                            </li>
                            <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="./news-list.html">
                                    <span class="__description">新闻列表</span>
                                    <!-- <span class="__title">新着情報</span> -->
                                    <i></i>
                                </a>
                            </li>
                            <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="./concat-us.html">
                                    <span class="__description">联系我们</span>
                                    <!-- <span class="__title">联系我们</span> -->
                                    <i></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="l-header__scrolldown">
                <span>
                    <span>向下滑动</span>
                </span>
            </p>
            <p class="l-header__pagetop">
                <span>
                    <span>向上滑动</span>
                </span>
            </p>
        </header>

        <main class="l-main">
            <p class="c-linica-tm">
                <img src="../img/top_logo.png" alt="株式会社LINICA（リニカ）" width="134" height="23">
                
            </p>

            <div class="l-category-header l-category-header--works">
                <p class="l-category-header__shoulder is-waypoint">Project</p>
                <p class="l-category-header__title-en is-waypoint is-lettering" data-lettering-step="100">WORKS</p>
                <h1 class="l-category-header__title is-waypoint is-lettering" data-lettering-offset="600">実績</h1>
            </div>

            <div class="c-archive-nav">
                <ul class="c-archive-nav__items">
                    <li class='cat-item-all current-cat'>
                        <a href='javascript:;'>全部</a>
                    </li>
                    <li class="cat-item cat-item-7">
                        <a href="javascript:;">网站</a>
                    </li>
                    <li class="cat-item cat-item-8">
                        <a href="javascript:;">平面</a>
                    </li>
                    <li class="cat-item cat-item-9">
                        <a href="javascript:;">M G 动画</a>
                    </li>
                </ul>
                <div class="c-archive-nav__current"></div>
            </div>

            <div class="c-works-list is-waypoint">
                <div class="c-works-list__items">
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en f-b">名称：中国美食城</p>
                            <h3 class="c-works-list__items__item__title">类别：网站建设</h3>
                            <p class="c-works-list__items__item__category">WEB</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en f-b">名称:中审咨询</p>
                            <h3 class="c-works-list__items__item__title">类别：响应式网站</h3>
                            <p class="c-works-list__items__item__category">WEB / BRANDING</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en">名称：有谱科技</p>
                            <h3 class="c-works-list__items__item__title">类别：小程序</h3>
                            <p class="c-works-list__items__item__category">WEB</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />

                            </p>
                            <p class="c-works-list__items__item__title-en">名称：中国电信</p>
                            <h3 class="c-works-list__items__item__title">类别：动画设计</h3>
                            <p class="c-works-list__items__item__category">网站链接</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en">名称：中国移动</p>
                            <h3 class="c-works-list__items__item__title">类别：动画设计</h3>
                            <p class="c-works-list__items__item__category">网站链接</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en">名称：中国联通</p>
                            <h3 class="c-works-list__items__item__title">类别：动画设计</h3>
                            <p class="c-works-list__items__item__category">网站链接</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en">名称：中国电信</p>
                            <h3 class="c-works-list__items__item__title">类别：动画设计</h3>
                            <p class="c-works-list__items__item__category">网站链接</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en">名称：中国移动</p>
                            <h3 class="c-works-list__items__item__title">类别：动画设计</h3>
                            <p class="c-works-list__items__item__category">网站链接</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en">名称：中国联通</p>
                            <h3 class="c-works-list__items__item__title">类别：动画设计</h3>
                            <p class="c-works-list__items__item__category">网站链接</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en">名称：中国电信</p>
                            <h3 class="c-works-list__items__item__title">类别：动画设计</h3>
                            <p class="c-works-list__items__item__category">网站链接</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en">名称：中国移动</p>
                            <h3 class="c-works-list__items__item__title">类别：动画设计</h3>
                            <p class="c-works-list__items__item__category">网站链接</p>
                        </a>
                    </div>
                    <div class="c-works-list__items__item">
                        <a href="./case-detail.html">
                            <p class="c-works-list__items__item__image">
                                <img width="772" height="478" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image"
                                    class="lazy lazy-hidden attachment-works-thumb@2x size-works-thumb@2x wp-post-image"
                                    alt="" data-lazy-srcset="../img/ix_img-386x239.png 772w"
                                    data-lazy-sizes="(max-width: 772px) 100vw, 772px" />
                            </p>
                            <p class="c-works-list__items__item__title-en">名称：中国联通</p>
                            <h3 class="c-works-list__items__item__title">类别：动画设计</h3>
                            <p class="c-works-list__items__item__category">网站链接</p>
                        </a>
                    </div>
                </div>
                <p class="c-works-list__more">
                    <a href="javascript:;">VIEW MORE
                        <i></i>
                    </a>
                </p>
                <p class="c-works-list__loading">... LOADING ...</p>
            </div>

            <div class="p-top-section-cta">
                <div class="p-top-section-cta__download">
                    <div class="p-top-section-cta__download__inner">
                        <div class="p-top-section-cta__download__header">
                            <p class="p-top-section-cta__download__header__title-en *is-waypoint">关于我们</p>
                            <h2 class="p-top-section-cta__download__header__title *is-waypoint">About us</h2>
                        </div>
                        <p>
                            <a class="c-button c-button--small c-button--border-none" href="javascript:;">
                                <span>关于我们</span>
                                <i></i>
                            </a>
                        </p>
                    </div>
                </div>
                <a href="./concat-us.html" class="p-top-section-cta__contact">
                    <div class="p-top-section-cta__contact__inner">
                        <div class="p-top-section-cta__contact__header">
                            <p class="p-top-section-cta__contact__header__title-en *is-waypoint">联系我们</p>
                            <h2 class="p-top-section-cta__contact__header__title *is-waypoint">CONTACT</h2>
                        </div>
                        <p>
                            <span class="c-button c-button--small">
                                <span>Contact form</span>
                                <i></i>
                            </span>
                        </p>
                    </div>
                </a>
            </div>

        </main>

        <footer class="l-footer">
            <div class="l-footer__inner">
                <p class="l-footer__sitelogo">
                    <a href="javascript:;">
                        <img src="../img/btm_logo.png" alt="株式会社LINICA（リニカ）" width="196" height="34">
                    </a>
                </p>
                <div class="l-footer__nav">
                    <ul id="menu-%e3%83%95%e3%83%83%e3%82%bf%e3%83%bc%e3%83%8a%e3%83%93" class="menu">
                        <li id="menu-item-3391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3391">
                            <a href="javascript:;">021QSJ.com</a>
                        </li>
                    </ul>
                </div>
                <div class="l-footer__address">
                    <address class="l-footer__address__ja">上海市松江区银都西路350号歆翱创意园D223室</address>
                    <address class="l-footer__address__en">联系人：蒋先生&nbsp;&nbsp;&nbsp;<br> 直线：15721482787&nbsp;&nbsp;&nbsp;&nbsp; <br> 电话：021-6645772&nbsp;&nbsp;&nbsp;&nbsp; <br> 邮箱：307446212@qq.com</address>
                </div>
                <ul class="l-footer__sns">
                    <li>
                        <a href="javascript:;" rel="noopener">
                            <img src="../img/ewm.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" rel="noopener">
                            <img src="../img/qq.png" alt="">
                        </a>
                    </li>
                </ul>
                <p class="l-footer__copyright">&copy; 沪ICP备 24556789</p>
            </div>
        </footer>

    </div>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var superpwa_sw = { "url": "\/superpwa-sw.js" };
/* ]]> */
    </script>



    <script type="text/javascript" src="../js/autoptimize_ab33aff924c052a578067b6ade5dff6f.js"></script>

</html>