<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#" class="is-loading is-loading-init ">

<head>
  <script src="../js/spu7cri.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Manifest added by SuperPWA - Progressive Web Apps Plugin For WordPress -->
  <!-- / SuperPWA.com -->
  <link type="text/css" href="../css/autoptimize_c31274133277b73a2805b57f7a59d948.css" rel="stylesheet" />
  <title>诠释界</title>
  <link rel="stylesheet" href="../css/important.css">
  <link rel="stylesheet" href="../plugin/swiper-4.5.0/dist/css/swiper.min.css">

  <script>
    // loading
    (function () {
      var html = document.querySelector('html');
      var windowLoadHandler = function () { html.classList.remove('is-loading') };
      var getCookie = function (k) { if (document.cookie.split(';').filter(function (item) { return item.indexOf(k + '=') >= 0 }).length) { return true } };

      if (!getCookie('is-loading-init')) {
        setTimeout(function () {
          html.classList.remove('is-loading-init');
        }, 1);
        setTimeout(windowLoadHandler, 3000);
        document.cookie = 'is-loading-init=1;path=/';
      } else {
        html.classList.remove('is-loading-init');
        window.addEventListener('load', windowLoadHandler, false);
        setTimeout(windowLoadHandler, 5000);
      }
    }());
  </script>
</head>

<body class="home page-template-default page page-id-3087">
  <div class="l-loading">
    <div class="l-loading__logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.93 21.84" width="402" height="67">
        <polygon fill="#000000" points="9.42 21.84 15.6 21.84 15.6 14.78 9.42 21.84" />
        <rect width="4.67" height="21.84" />
        <rect x="68.07" width="4.37" height="21.84" />
        <rect x="25.8" width="4.37" height="21.84" />
        <polygon points="45.05 0 45.05 0 40.96 0 40.96 21.84 45.04 21.84 45.05 6.82 54.05 21.84 58.72 21.84 45.63 0 45.05 0" />
        <polygon points="58.72 0 54.63 0 54.63 4.12 58.71 4.12 58.72 0" />
        <polygon points="125.93 21.84 116.91 0 112.57 0 107.35 12.78 111.72 12.78 114.91 4.99 121.86 21.84 125.93 21.84" />
        <path d="M86.37,21.84h9.77a11.61,11.61,0,0,0,6.27-7.09H98A7.36,7.36,0,1,1,91.43,4.12a7.3,7.3,0,0,1,6,3.12l3.26-2.51A11.42,11.42,0,0,0,80,11.51a11.53,11.53,0,0,0,6.37,10.33"
        />
      </svg>
    </div>
    <div class="l-loading__text">
      <svg viewBox="0 0 85.5 14.7" width="86" height="16">
        <path fill="#444444" d="M0,10.8c0,0.2,0.2,0.4,0.4,0.4h0.5c0.2,0,0.3-0.2,0.4-0.4V0.3C1.2,0.2,1,0,0.8,0H0.4
        C0.2,0,0,0.2,0,0.3V10.8z M6.2,7.5C6.2,9.5,8,11.1,10,11.1c2.1-0.1,3.7-1.8,3.6-3.8c-0.1-2-1.7-3.6-3.7-3.6C7.8,3.7,6.2,5.4,6.2,7.5
        L6.2,7.5z M7.3,7.5c0.1-1.4,1.4-2.4,2.8-2.3s2.4,1.4,2.3,2.8c-0.1,1.3-1.2,2.3-2.5,2.3C8.4,10.2,7.3,9,7.3,7.5
        C7.3,7.5,7.3,7.5,7.3,7.5z M17.9,9c-0.1,1.2,0.8,2.3,2.1,2.4c0.1,0,0.1,0,0.2,0c0.9,0,1.7-0.3,2.3-0.9l0.1,0.5
        c0,0.2,0.1,0.3,0.3,0.3h0.3c0.2,0,0.4-0.2,0.4-0.4V6.7c0-2.2-0.4-3.1-2.3-3.1c-0.9,0-1.7,0.2-2.5,0.5c-0.2,0-0.3,0.2-0.2,0.4
        c0,0,0,0,0,0L18.7,5c0,0.1,0.1,0.2,0.3,0.2c0,0,0.1,0,0.1,0c0.7-0.3,1.4-0.4,2.2-0.4c1.1,0,1.2,0.7,1.2,2c-0.5-0.1-1-0.2-1.6-0.2
        C19,6.5,17.9,7.5,17.9,9L17.9,9z M19.1,9c0-0.8,0.8-1.5,1.6-1.5c0.1,0,0.1,0,0.2,0c0.5,0,1.1,0.1,1.6,0.3v1.5c-0.5,0.6-1.2,1-2,1
        c-0.7,0-1.3-0.5-1.3-1.2C19.1,9,19.1,9,19.1,9L19.1,9z M28.4,7.5c-0.2,2,1.3,3.7,3.3,3.9c0.9,0,1.7-0.4,2.3-1l0.1,0.5
        c0,0.2,0.2,0.3,0.3,0.3h0.3c0.2,0,0.4-0.2,0.4-0.4V0.3C35.2,0.1,35,0,34.8,0h-0.5C34.2,0,34,0.1,34,0.3v3.8c-0.6-0.3-1.3-0.5-2-0.5
        C29.7,3.6,28.4,5.3,28.4,7.5z M29.6,7.5c-0.1-1.4,0.9-2.6,2.3-2.8c0.1,0,0.1,0,0.2,0c0.7,0,1.3,0.2,1.9,0.4v4
        c-0.5,0.7-1.3,1.1-2.1,1.2C30.5,10.3,29.6,8.9,29.6,7.5z M41.1,1.9C41.6,1.9,42,1.5,42,1c0-0.5-0.4-0.9-0.9-0.9
        c-0.5,0-0.9,0.4-0.9,0.9c0,0,0,0,0,0C40.2,1.5,40.6,1.9,41.1,1.9L41.1,1.9z M40.5,10.8c0,0.2,0.2,0.4,0.4,0.4h0.5
        c0.2,0,0.3-0.2,0.4-0.4V4.2c0-0.2-0.2-0.3-0.4-0.4h-0.5c-0.2,0-0.3,0.2-0.4,0.4V10.8L40.5,10.8z M47.1,10.8c0,0.2,0.2,0.4,0.4,0.4
        h0.5c0.2,0,0.3-0.2,0.4-0.4V5.7c0.6-0.6,1.4-1,2.3-1c1.1,0,1.6,0.7,1.6,2.1v4.1c0,0.2,0.2,0.4,0.4,0.4H53c0.2,0,0.3-0.2,0.4-0.4V6.9
        c0-1.9-0.5-3.3-2.7-3.3c-0.9,0-1.8,0.3-2.5,0.9L48,4c0-0.1-0.1-0.2-0.3-0.2c0,0,0,0,0,0h-0.3c-0.2,0-0.3,0.2-0.4,0.4L47.1,10.8
        L47.1,10.8z M59.3,7.5c-0.1-1.4,0.9-2.6,2.3-2.7c0,0,0.1,0,0.1,0c0.7,0,1.5,0.3,2,0.9v4c-0.6,0.4-1.2,0.6-1.9,0.6
        c-1.4-0.1-2.5-1.3-2.5-2.7C59.3,7.6,59.3,7.5,59.3,7.5L59.3,7.5z M64.9,4.2c0-0.2-0.2-0.3-0.4-0.4h-0.2c-0.2,0-0.3,0.1-0.4,0.3
        l-0.1,0.3c-1.8-1.1-4.1-0.5-5.1,1.3c-1.1,1.8-0.5,4.1,1.3,5.1c0.5,0.3,1.1,0.5,1.7,0.5c0.7,0,1.4-0.2,2-0.7v0.5
        c0,1.7-0.9,2.4-2.1,2.4c-0.7,0-1.3-0.3-1.9-0.8c-0.1-0.1-0.3-0.2-0.4-0.1c0,0-0.1,0-0.1,0.1L59,13.3c-0.1,0.1,0,0.3,0.1,0.4
        c0.7,0.6,1.6,0.9,2.6,1c1.7,0,3.2-0.9,3.2-3.5L64.9,4.2L64.9,4.2z M69.9,10.3c0,0.6,0.5,1,1,1s1-0.5,1-1c0-0.6-0.5-1.1-1-1.1
        C70.4,9.2,69.9,9.7,69.9,10.3L69.9,10.3L69.9,10.3z M76.7,10.3c0,0.6,0.5,1,1,1s1-0.5,1-1c0-0.6-0.5-1.1-1-1.1
        C77.1,9.2,76.7,9.7,76.7,10.3L76.7,10.3L76.7,10.3z M83.4,10.3c0,0.6,0.5,1,1,1s1-0.5,1-1c0-0.6-0.5-1.1-1-1.1
        C83.9,9.2,83.4,9.7,83.4,10.3L83.4,10.3L83.4,10.3z" />
      </svg>
    </div>
  </div>

  <div class="l-wrapper">

    <header class="l-header">
      <h1 class="l-header__sitelogo">
        <a href="./index.html">
          <img src="https://linica.jp/wp-content/themes/linica/assets/img/logo_circle.svg" alt="株式会社LINICA（リニカ）" width="60"
            height="60">
        </a>
      </h1>
      <div class="l-header__gnav">
        <button class="l-header__gnav__toggler" aria-label="メニュー">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="l-header__gnav__overlay">
          <div class="l-header__gnav__overlay__inner">
            <ul id="menu-%e3%82%b0%e3%83%ad%e3%83%bc%e3%83%90%e3%83%ab%e3%83%8a%e3%83%93" class="menu">
              <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="./about-us.html">
                  <span class="__description">关于我们</span>
                  <!-- <span class="__title">关于我们</span> -->
                  <i></i>
                </a>
              </li>
              <li id="menu-item-31" class="menu-disabled menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                <a href="javascript:;">
                  <span class="__description">服务领域</span>
                  <!-- <span class="__title">制作事例</span> -->
                  <i></i>
                </a>
                <ul class="sub-menu">
                  <li id="menu-item-3362" class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="./web-server.html">
                      <span class="__description">web技术服务</span>
                      <!-- <span class="__title">コーポレートサイト制作</span> -->
                      <i></i>
                    </a>
                  </li>
                  <li id="menu-item-3197" class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="./creative.html">
                      <span class="__description">创意设计类</span>
                      <!-- <span class="__title">UXデザイン</span> -->
                      <i></i>
                    </a>
                  </li>
                  <li id="menu-item-3196" class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="./marketing.html">
                      <span class="__description">营销内容</span>
                      <!-- <span class="__title">ブランディング</span> -->
                      <i></i>
                    </a>
                  </li>
                </ul>
              </li>
              <li id="menu-item-3084" class="menu-item menu-item-type-post_type_archive menu-item-object-works">
                <a href="./case.html">
                  <span class="__description">案例</span>
                  <!-- <span class="__title">案例</span> -->
                  <i></i>
                </a>
              </li>
              <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="./news-list.html">
                  <span class="__description">新闻列表</span>
                  <!-- <span class="__title">新着情報</span> -->
                  <i></i>
                </a>
              </li>
              <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="./concat-us.html">
                  <span class="__description">联系我们</span>
                  <!-- <span class="__title">联系我们</span> -->
                  <i></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p class="l-header__scrolldown">
        <span>
          <span>向下滑动</span>
        </span>
      </p>
      <p class="l-header__pagetop">
        <span>
          <span>向上滑动</span>
        </span>
      </p>
    </header>

    <main class="l-main">
      <p class="c-linica-tm">
        <img src="https://linica.jp/wp-content/themes/linica/assets/img/logo.svg" alt="株式会社LINICA（リニカ）" width="134" height="23">
        <sup>&trade;</sup>
      </p>

      <div class="p-top-section-mv">
        <div class="p-top-section-mv__content">
          <div class="p-top-section-mv__content__bg">
            <div class="video_a">
              <video loop="loop" src="https://linica.jp/wp-content/themes/linica/assets/movie/mv_bg.mp4" autoplay preload="none"
                muted></video>
            </div>
            <div class="video_b">
              <video loop="loop" src="https://linica.jp/wp-content/themes/linica/assets/movie/mv_bg.mp4?cache=1367277468" autoplay
                preload="none" muted></video>
            </div>
            <div class="video_c">
              <video loop="loop" src="https://linica.jp/wp-content/themes/linica/assets/movie/mv_bg_masked.mp4" autoplay preload="none"
                data-object-fit="cover" muted></video>
            </div>
          </div>
          <div class="p-top-section-mv__content__text">
            <span>DIGITAL DESIGN</span>
            <span>WEB DEVELOPMENT</span>
          </div>
        </div>

        <ul class="p-top-section-mv__news">
          <li class="p-top-section-mv__news__item">
            <a href="./news-detail.html">
              <span class="p-top-section-mv__news__item__date is-lettering" data-lettering-step="20" data-lettering-offset="200">2019.07.01</span>
              <span class="p-top-section-mv__news__item__title is-lettering" data-lettering-step="20" data-lettering-offset="200">2019年诠释界网络获得中国最佳创意奖</span>
            </a>
          </li>
        </ul>
        <p class="p-top-section-mv__contact">
          <a class="c-black-button" href="./concat-us.html">
            <span>联系我们</span>
            <i></i>
          </a>
        </p>
      </div>

      <div class="p-top-section-works">
        <div class="p-top-section-works__header is-waypoint">
          <p class="p-top-section-works__header__shoulder is-waypoint">项目</p>
          <p class="p-top-section-works__header__title-en is-waypoint is-lettering">案例欣赏</p>
          <h2 class="p-top-section-works__header__title is-waypoint is-lettering">CASE STUDY</h2>
        </div>
        <div class="swiper-new-container">
          <div class="p-top-section-works__list__inner swiper-wrapper">
            <div class="p-top-section-works__list__item swiper-slide is-waypoint">
              <a href="./case-detail.html">
                <p class="p-top-section-works__list__item__image">
                  <img width="386" height="239" src="../img/ix_img-386x239.jpg"
                    class="lazy lazy-hidden attachment-works-thumb size-works-thumb wp-post-image" alt=""/>
                </p>
              </a>
            </div>
            <div class="p-top-section-works__list__item swiper-slide is-waypoint">
              <a href="./case-detail.html">
                <p class="p-top-section-works__list__item__image">
                  <img width="386" height="239" src="../img/ix_img-386x239.jpg"
                    class="lazy lazy-hidden attachment-works-thumb size-works-thumb wp-post-image" alt=""/>
                </p>
              </a>
            </div>
            <div class="p-top-section-works__list__item swiper-slide is-waypoint">
              <a href="./case-detail.html">
                <p class="p-top-section-works__list__item__image">
                  <img width="386" height="239" src="../img/ix_img-386x239.jpg"
                    class="lazy lazy-hidden attachment-works-thumb size-works-thumb wp-post-image" alt=""/>
                </p>
              </a>
            </div>
            <div class="p-top-section-works__list__item swiper-slide is-waypoint">
              <a href="./case-detail.html">
                <p class="p-top-section-works__list__item__image">
                  <img width="386" height="239" src="../img/ix_img-386x239.jpg"
                    class="lazy lazy-hidden attachment-works-thumb size-works-thumb wp-post-image" alt=""/>
                </p>
              </a>
            </div>
            <div class="p-top-section-works__list__item swiper-slide is-waypoint">
              <a href="./case-detail.html">
                <p class="p-top-section-works__list__item__image">
                  <img width="386" height="239" src="../img/ix_img-386x239.jpg"
                    class="lazy lazy-hidden attachment-works-thumb size-works-thumb wp-post-image" alt=""/>
                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="p-top-section-works__list__nav">
          <div class="p-top-section-works__list__nav__prev"></div>
          <div class="p-top-section-works__list__nav__next"></div>
        </div>
        <p class="align-center more-btn">
          <a class="c-button" href="./case.html">
            <span>更多案例</span>
            <i></i>
          </a>
        </p>
      </div>

      <div class="p-top-section-casestudy is-waypoint">
        <div class="p-top-section-casestudy__header">
          <p class="p-top-section-casestudy__header__shoulder is-waypoint">我们能做什么</p>
          <p class="p-top-section-casestudy__header__title-en is-waypoint is-lettering f-b">服务领域</p>
          <h2 class="p-top-section-casestudy__header__title is-waypoint is-lettering">SERVICE AREA</h2>
        </div>
        <div class="p-top-section-casestudy__body">
          <p class="p-top-section-casestudy__body__lead">
            网商服务创想者专业、高效、可信赖的互联网营销服务<br>
            以客户为中心，极致的客户体验<br>
            在每个项目中都运用专业的项目管理知识及项目管理经验</p>
          <div class="c-casestudy-index">
            <div class="c-casestudy-index__item c-casestudy-index__item--1 is-waypoint">
              <a href="javascript:;">
                <div class="c-casestudy-index__item__img"></div>
                <div class="c-casestudy-index__item__body">
                  <p class="c-casestudy-index__item__title-en">为客户量身定制能产生共鸣的网站</p>
                  <h3 class="c-casestudy-index__item__title is-waypoint is-lettering">网站建设</h3>
                  <p class="c-casestudy-index__item__text">PC端，手机端，小程序，微信公众号开发</p>
                </div>
              </a>
            </div>
            <div class="c-casestudy-index__item c-casestudy-index__item--2 is-waypoint">
              <a href="javascript:;">
                <div class="c-casestudy-index__item__img"></div>
                <div class="c-casestudy-index__item__body">
                  <p class="c-casestudy-index__item__title-en">专业的策划和可靠的技术支持是营销策划中重要组成部分</p>
                  <h3 class="c-casestudy-index__item__title is-waypoint is-lettering">营销内容服务</h3>
                  <p class="c-casestudy-index__item__text">SEO优化服务，品牌方案定制，营销策划推广</p>
                </div>
              </a>
            </div>
            <div class="c-casestudy-index__item c-casestudy-index__item--3 is-waypoint">
              <a href="javascript:;">
                <div class="c-casestudy-index__item__img"></div>
                <div class="c-casestudy-index__item__body">
                  <p class="c-casestudy-index__item__title-en">我们为品牌客户提供全网咨询服务和落地解决方案</p>
                  <h3 class="c-casestudy-index__item__title is-waypoint is-lettering">营销内容服务</h3>
                  <p class="c-casestudy-index__item__text">平面设计，MG动画，企业宣传片等制作</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="p-top-section-about is-waypoint">
        <div class="p-top-section-about__header">
          <p class="p-top-section-about__header__shoulder is-waypoint">我们的理念</p>
          <p class="p-top-section-about__header__title-en is-waypoint is-lettering">关于我们</p>
          <h2 class="p-top-section-about__header__title is-waypoint is-lettering">ABOUT US</h2>
        </div>
        <div class="p-top-section-about__body">
          <p class="c-linica-logo align-center is-waypoint">
            <svg viewBox="0 0 125.93 21.84" width="384" height="67">
              <rect class="path" width="4.67" height="21.84" />
              <polygon class="path" points="9.42 21.84 15.6 21.84 15.6 14.78 9.42 21.84" />
              <rect class="path" x="25.8" width="4.37" height="21.84" />
              <polygon class="path" points="45.05 0 45.05 0 40.96 0 40.96 21.84 45.04 21.84 45.05 6.82 54.05 21.84 58.72 21.84 45.63 0 45.05 0"
              />
              <polygon class="path" points="58.72 0 54.63 0 54.63 4.12 58.71 4.12 58.72 0" />
              <rect class="path" x="68.07" width="4.37" height="21.84" />
              <path class="path" d="M86.37,21.84h9.77a11.61,11.61,0,0,0,6.27-7.09H98A7.36,7.36,0,1,1,91.43,4.12a7.3,7.3,0,0,1,6,3.12l3.26-2.51A11.42,11.42,0,0,0,80,11.51a11.53,11.53,0,0,0,6.37,10.33"
              />
              <polygon class="path" points="125.93 21.84 116.91 0 112.57 0 107.35 12.78 111.72 12.78 114.91 4.99 121.86 21.84 125.93 21.84"
              />
            </svg>
          </p>
          <p>上海诠释界网络科技有限公司，2012年成立于中国上海，秉承着品牌网站建设追求者与实践者，为企业提供互联网营销服务，公司聚合了业界多年经验优秀的互联网技术专家、广告营销策划和互动设计创意人才，从PC端到移动终端，从互联网品牌网站建设到微信营销，从创意策划到系统平台开发，诠释界网络都积累了丰富经验，并已为众多企业、知名品牌公司及大型企事业集团提供激动人心的专业服务！</p>
          <p class="align-center">
            <a class="c-button" href="./about-us.html">
              <span>关于我们</span>
              <i></i>
            </a>
          </p>
        </div>
      </div>

      <div class="p-top-section-topics is-waypoint">
        <div class="p-top-section-topics__header">
          <p class="p-top-section-topics__header__shoulder is-waypoint">信息咨询</p>
          <p class="p-top-section-topics__header__title-en is-waypoint is-lettering">建站百科</p>
          <h2 class="p-top-section-topics__header__title is-waypoint is-lettering">ENCYCLOPEDIA</h2>
        </div>
        <div class="p-top-section-topics__body">
          <div class="p-top-section-topics__list">
            <div class="p-top-section-topics__list__item">
              <a href="">
                <p class="p-top-section-topics__list__item__date">2019.07.01</p>
                <h3 class="p-top-section-topics__list__item__title">フレックスタイム制 試験運用のお知らせ</h3>
                <i></i>
              </a>
            </div>
            <div class="p-top-section-topics__list__item">
              <a href="">
                <p class="p-top-section-topics__list__item__date">2019.04.08</p>
                <h3 class="p-top-section-topics__list__item__title">制作実績を追加しました</h3>
                <i></i>
              </a>
            </div>
          </div>
          <p>
            <a class="c-button c-button--small" href="javascript:;">
              <span>建站百科</span>
              <i></i>
            </a>
          </p>
        </div>
        <div class="p-top-section-topics__block"></div>
      </div>
      <div class="p-top-section-cta">
        <a href="./marketing.html" class="p-top-section-cta__contact">
          <div class="p-top-section-cta__contact__inner">
            <div class="p-top-section-cta__contact__header">
              <p class="p-top-section-cta__contact__header__title-en *is-waypoint">营销内容服务</p>
              <h2 class="p-top-section-cta__contact__header__title *is-waypoint">Marketing Content Service</h2>
              <h3 class="more-sub-title">SEM, 整合营销，品牌方案定制</h3>
            </div>
            <p>
              <span class="c-button c-button--small">
                <span>View More</span>
                <i></i>
              </span>
            </p>
          </div>
        </a>
        <a href="./web-server.html" class="p-top-section-cta__contact">
          <div class="p-top-section-cta__contact__inner">
            <div class="p-top-section-cta__contact__header">
              <p class="p-top-section-cta__contact__header__title-en *is-waypoint">W E B 技术开发</p>
              <h2 class="p-top-section-cta__contact__header__title *is-waypoint">Technological Development</h2>
              <h3 class="more-sub-title">高端网站建设，小程序，APP，微信公众号开发</h3>
            </div>
            <p>
              <span class="c-button c-button--small">
                <span>View More</span>
                <i></i>
              </span>
            </p>
          </div>
        </a>
      </div>
      <div class="p-top-section-cta">
        <div class="p-top-section-cta__download">
          <div class="p-top-section-cta__download__inner">
            <div class="p-top-section-cta__download__header">
              <p class="p-top-section-cta__download__header__title-en *is-waypoint">关于我们</p>
              <h2 class="p-top-section-cta__download__header__title *is-waypoint">資料ダウンロード</h2>
            </div>
            <p>
              <a class="c-button c-button--small c-button--border-none" href="./news-list.html">
                <span>公司新闻</span>
                <i></i>
              </a>
            </p>
          </div>
        </div>
        <a href="./concat-us.html" class="p-top-section-cta__contact">
          <div class="p-top-section-cta__contact__inner">
            <div class="p-top-section-cta__contact__header">
              <p class="p-top-section-cta__contact__header__title-en *is-waypoint">Contact</p>
              <h2 class="p-top-section-cta__contact__header__title *is-waypoint">お問い合わせ</h2>
            </div>
            <p>
              <span class="c-button c-button--small">
                <span>Contact form</span>
                <i></i>
              </span>
            </p>
          </div>
        </a>
      </div>

    </main>
    <footer class="l-footer">
      <div class="l-footer__inner">
        <p class="l-footer__sitelogo">
          <a href="javascript:;">
            <img src="https://linica.jp/wp-content/themes/linica/assets/img/logo_footer.svg" alt="株式会社LINICA（リニカ）" width="196"
              height="34">
          </a>
        </p>
        <div class="l-footer__nav">
          <ul id="menu-%e3%83%95%e3%83%83%e3%82%bf%e3%83%bc%e3%83%8a%e3%83%93" class="menu">
            <li id="menu-item-3391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3391">
              <a href="javascript:;">021QSJ.com</a>
            </li>
          </ul>
        </div>
        <div class="l-footer__address">
          <address class="l-footer__address__ja">上海市松江区银都西路350号歆翱创意园D223室</address>
          <address class="l-footer__address__en">联系人：蒋先生&nbsp;&nbsp;&nbsp;直线：15721482787&nbsp;&nbsp;&nbsp;&nbsp;电话：021-6645772&nbsp;&nbsp;&nbsp;&nbsp;邮箱：307446212@qq.c</address>
        </div>
        <ul class="l-footer__sns">
          <li>
            <a href="javascript:;" rel="noopener">
              <img src="../img/ewm.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;" rel="noopener">
              <img src="../img/qq.png" alt="">
            </a>
          </li>
        </ul>
        <p class="l-footer__copyright">&copy; 沪ICP备 24556789</p>
      </div>
    </footer>

  </div>



<script type="text/javascript" src="../js/autoptimize_ab33aff924c052a578067b6ade5dff6f.js"></script>
<script src="../plugin/swiper-4.5.0/dist/js/swiper.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-new-container', {
    slidesPerView: 3,
    spaceBetween: 10,
    slidesPerGroup: 1,
    loop: false,
    loopFillGroupWithBlank: false,
    navigation: {
      nextEl: '.p-top-section-works__list__nav__next',
      prevEl: '.p-top-section-works__list__nav__prev',
    },
    breakpoints: {
        1000: {
            slidesPerView: 2,
            spaceBetween: 10,
        },
        782: {
            slidesPerView: 1,
            spaceBetween: 10,
        }
    }
  });
</script>
</body>

</html>